<a href="https://colab.research.google.com/github/haabibfahadkp/introduction-to-python/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fhd(salary):
  if salary>250000:
    print("taxable")
  else:
    print("not taxable")
x=int(input("enter the salary"))
sal(x)

enter the salary200000
not taxable

In [5]:
def fhd(x):
  k=0
  for i in range(x):
    k=k+i
    print(k)
x=int(input("enter number"))
fhd(x)

enter number5
0
1
3
6
10

In [11]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)
def multi(x,y):
  print(x*y)
def div(x,y):
  print(x/y)
x=int(input("enter the number"))
y=int(input("enter the number"))
add(x,y)
sub(x,y)
multi(x,y)
div(x,y)

enter the number5
enter the number10
15
-5
50
0.5