<a href="https://colab.research.google.com/github/haabibfahadkp/introduction-to-python/blob/main/nov17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x=int(input("enter the number"))
for i in range(1,11):
  print(i,"*",x,"=",i*x)

enter the number4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [5]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

4
4
8
12
16
20
24
28
32
36
40

In [9]:
x=input(" enter the number ")
d=0
for i in x:
  #print(i)
  d=d+1
print(d)

 enter the number 5007
4

In [12]:
x=input(" enter a name ")
x=x.replace('a','x')
print(x)

 enter a name fahad
fxhxd

In [15]:
string=input(("enter string: "))
reversestring= ""
for i in string:
    reversestring = i + reversestring
print("reverse string: ",reversestring)      
if (string == reversestring):
    print("the string is palindrome")
else:
    print("the string is not palindrome")

enter string: hai
reverse string:  iah
the string is not palindrome

In [16]:
m1=['bangladesh','india','nepal','pakistan','usa']
print (m1)
m1.append('france')
print(m1)
m1.remove("pakistan")
print(m1)
m1.reverse()
print(m1)
m1.append('canada')
print(m1)
len(m1)

['bangladesh', 'india', 'nepal', 'pakistan', 'usa']
['bangladesh', 'india', 'nepal', 'pakistan', 'usa', 'france']
['bangladesh', 'india', 'nepal', 'usa', 'france']
['france', 'usa', 'nepal', 'india', 'bangladesh']
['france', 'usa', 'nepal', 'india', 'bangladesh', 'canada']

6