In [1]:
mark=int(input("enter the mark"))
if mark >50:
  print("you are passed")
if mark <50:
  print("you are failed")

enter the mark45
you are failed

In [4]:
mark=int(input("enter the mark"))
if mark==50:
  print("you are just passed")
if mark >50:
  print("you are passed")
if mark <50:
  print("you are failed")

enter the mark50
you are just passed

In [2]:
salary=int(input(" enter the salary "))
if salary >=250000:
  print("you are taxable")
else:
  print("you are not taxable")

 enter the salary 100000
you are not taxable

In [3]:
salary=int(input(" enter the salary "))
if salary >=150000:
  print("you are taxable")
amount=(salary*10/100)
tax=input(" tax amount is",amount)

 enter the salary 1500000
you are taxable

TypeError: ignored

In [26]:
salary=int(input("enter the salary"))
if salary >=250000:
  print("you are taxable")
salary=300000
amount=salary-250000
print(amount*10/100)

enter the salary300000
you are taxable
5000.0