<a href="https://colab.research.google.com/github/haabibfahadkp/introduction-to-python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
p=input(" enter the name of vehicle ")
x=input(" enter travel destination ")
y=int(input(" enter number of passengers "))
print(" vehicle: ",p)
print(" destination ",x)
print(" number of passengers ",y)

 enter the name of vehicle innova
 enter travel destination ooty
 enter number of passengers 5
 vehicle:  innova
 destination  ooty
 number of passengers  5

In [5]:
x=int(input(" enter the total amount of ticket sold "))
y=int(input(" enter the number of passengers "))
z=(x/y)
print(" ptice of a ticket ",z)

 enter the total amount of ticket sold 5000
 enter the number of passengers 10
 ptice of a ticket  500.0

In [7]:
x=input(" enter the name of passenger ")
y=input(" enter the price ")
print("details:",x,y)

 enter the name of passenger fahad
 enter the price 120
details: fahad 120

In [9]:
x=int(input(" enter the total ticket price "))
if x>10000:
  print("eligible for discount")
else:
  print(" not eligible for discount ")

 enter the total ticket price 4000
 not eligible for discount

In [11]:
x=int(input(" enter the total ticket price "))
if x>15000:
  print("eligible for 20% percent discount")
else:
  print("eligible for 10% percent")

 enter the total ticket price 7000
eligible for 10% percent

In [15]:
x=int(input(" enter the total ticket price "))
if x>15000:
  print(" total discount is ",x*20/100)
elif x>10000:
  print(" total discount is ",x*10/100)
else:
  print(" total discount is ",x*5/100)

 enter the total ticket price 16000
 total discount is  3200.0

In [18]:
x=int(input(" enter the number "))
if x==0:
  print(" the number is zero ")
elif x>0:
  print(" the number is positive ")
else:
  print(" the number is negative ")

 enter the number 20
 the number is positive

In [21]:
x=int(input(" enter the age "))
if x>18:
  print(" you are adult ")
if x>13 and x<18:
  print("teenager")
if x>6 and x<12:
  print("kid")
if x>2 and x<5:
  print("toddler")
elif x<2:
  print("infant")

 enter the age 4
toddler

In [30]:
x=input(" enter the initial ")
if x=="a":
  print("its a vowel")
elif x=="e":
  print("its a vowel")
elif x=="i":
  print("its a vowel")
elif x=="o":
  print("its a vowel")
elif x=="u":
  print("its a vowel")
else:
  print("its not a vowel")

 enter the initial w
its not a vowel

In [31]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y)
for a in z:
  if a%2!=0 :
    print(a)

Enter Starting Value 10
Enter Ending Value 20
11
13
15
17
19

In [32]:
x=input("enter your name")
for a in x:
  print(a)

enter your namefahad
f
a
h
a
d